{% extends 'base/layout.html' %}
{% load static %}
{% load humanize %}

{% block HeaderLinks %}
    <link rel="stylesheet" href="{% static 'css/Moms/FoodDetails-style.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}

{% block main %}

    <div class="row">

        <div class="col-md-6">

            <div class="box">

                <div class="row text-center">
                    <div class="col-6">
                        <h2>{{ food }}</h2>
                    </div>
                    <div class="col-6">
                        <h3>
                            {{ food.food_price|intcomma }} تومان
                        </h3>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-6">
                        <a href="{% url 'MomProfile' mom_id=food.mom.user_id %}">
                            <img style="display: inline;" class="mom-profile"
                                 src="{% url 'getMomImage' mom_id=food.mom_id %}"/>
                            <p style="display: inline">مامان {{ food.mom.user.first_name }}</p>
                        </a>
                    </div>
                    <div class="col-6">امتیاز غذا</div>
                </div>

                <br/>

                {% if food.food_order != 0 %}
                    <div class="row text-center">
                        <div class="col-12">
                            <p>{{ food.food_name }} دستپخت مامان {{ food.mom.user.first_name }} تاکنون
                                <strong>{{ food.food_order }}</strong>+ بار سفارش داده شده است.</p>
                        </div>
                    </div>
                {% endif %}

                <hr/>

                <p class="dastor-pokht">دستور پخت</p>
                <p>{{ food.food_recipe }}</p>

                <hr/>

                {% if food.is_active %}

                    {% if request.user.is_company %}

                        <div class="row text-center">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <input class="form-control" type="text" id="date" placeholder="سفارش برای روز ..."
                                       autocomplete="off">

                                <br/>

                                <button id="addToOrderBtn"
                                        onclick="addToSchedule( {{ request.user.id }}, {{ food.id }} )"
                                        class="btn btn-success">افزودن به برنامه هفتگی
                                </button>

                                <button id="success" class="text-center btn btn-outline-primary">غذا به برنامه هفتگی
                                    اضافه شد
                                </button>

                            </div>
                            <div class="col-4"></div>

                        </div>

                    {% else %}

                        <br/>


                        <div class="row text-center">
                            <div id="count" class="col-12">
                                <button onclick="oppositeCount()" class="btn btn-primary">-</button>
                                <p id="counter">4</p>
                                <button onclick="addCount()" class="btn btn-primary">+</button>
                            </div>
                        </div>

                        <br/>

                        <div class="row">
                            <div class="col-12 text-center">
                                {% if request.user.is_authenticated %}

                                    <button id="addToOrderBtn" onclick="addFoodToOrder({{ food.id }})"
                                            class="text-center btn btn-danger">
                                        <span id="plus-icon">+</span> افزودن به سبد خرید
                                    </button>
                                    <button id="success" class="text-center btn btn-success"> غذا با موفقیت به سبد خرید
                                        اضافه شد
                                    </button>
                                {% else %}
                                    <button id="showAlert"
                                            onclick="alert('کاربرگرامی برای افزودن غذا به سبد خرید باید ابتدا وارد حساب کاربری خود شوید.')"
                                            class="text-center btn btn-danger">
                                        <span id="plus-icon">+</span> افزودن به سبد خرید
                                    </button>
                                {% endif %}

                            </div>
                        </div>

                    {% endif %}


                {% else %}
                    <div class="row text-center">
                        <div class="col-12">
                            <p class="btn btn-secondary">غذا غیرفعال است</p>
                        </div>
                    </div>
                {% endif %}


            </div>

            {% if user_can_comment %}

                <br/>

                <div class="box">

                    <div class="row">
                        <div class="col-12 text-center">
                            <h5>ثبت نظر شما</h5>
                        </div>
                    </div>

                    <hr/>

                    <div class="row text-center">
                        <div class="col-12">
                            <form method="post" action="{% url 'FoodDetails' food_id=food.id %}">
                                {% csrf_token %}

                                <div class="row text-right">
                                    <div class="col-3">
                                        <p>میزان رضایت شما : </p>
                                    </div>

                                    <div class="col-9">
                                        {{ add_comment_form.user_experience }}
                                        {{ add_comment_form.user_experience.errors }}
                                    </div>
                                </div>

                                <br/>

                                {{ add_comment_form.text }}

                                <br/>

                                <button type="submit" class="btn btn-primary">ثبت نظر</button>

                            </form>
                        </div>
                    </div>

                </div>

            {% endif %}

            <br/>

            <div class="box">

                <div class="row">
                    <div class="col-12 text-center">
                        <h5>نظرات کاربران درباره غذا {{ food.food_name }}</h5>
                    </div>
                </div>

                {% for comment in comments %}

                    <hr/>

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2 text-center">

                                    <div class="row">
                                        <div class="col-12">
                                            <img class="ux-icon" src="{{ comment.UX.icon.url }}"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <p>{{ comment.user.first_name }}</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-10">
                                    <div class="row text-right">
                                        <div class="col-12">
                                            <p>{{ comment.date }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p>{{ comment.text }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if comment.is_answered %}
                                <div class="row text-center">
                                    <div class="col-10" style="text-align: -webkit-left;">
                                        <div class="answer-box">
                                            {% for answer in answers %}
                                                {% if answer.comment_id == comment.id %}
                                                    <p>{{ answer }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-2">

                                        <div class="row">
                                            <div class="col-12">
                                                <img class="mom-profile" alt="profile"
                                                     src="{{ food.mom.profile_photo.url }}"/>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <p>مامان {{ food.mom.user.first_name }}</p>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            {% else %}
                                {% if request.user.id == food.mom.user.id %}
                                    <div class="row text-center">

                                        <div class="col-9">
                                            <input type="text" id="answer-text" class="{{ comment.id }} form-control"
                                                   placeholder="متن پاسخ" required>
                                        </div>
                                        <div class="col-3">
                                            <button id="{{ comment.id }}" onclick="addCommentAnswer({{ comment.id }})"
                                                    class="btn btn-primary">پاسخ
                                            </button>
                                        </div>

                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}

            </div>
            <br/>

        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="col-12 text-center">
                    <img id="food-photo" src="{{ food.food_photo.url }}"/>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-12">
                    <div class="box">

                        <div class="row text-center">
                            <div class="col-12">
                                <h3 style="margin: 0">سایر غذاهای مامان {{ food.mom.user.first_name }}</h3>
                            </div>
                        </div>

                        {% for food in other_food %}
                            <hr/>
                            <a href="{% url 'FoodDetails' food_id=food.id %}">
                                <div class="row text-center">
                                    <div class="col-6">
                                        <p style="margin: 0">{{ food.food_name }}</p>
                                    </div>
                                    <div class="col-6">{{ food.food_price|intcomma }} تومان</div>
                                </div>
                            </a>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script>
        $(function () {
            var today = new Date();
            var maxDate = new Date();
            maxDate.setDate(today.getDate() + 7);

            $("#date").datepicker({
                minDate: 0,
                maxDate: maxDate,
                dateFormat: "yy-mm-dd"
            });
        });
    </script>

{% endblock %}