{% extends 'base/layout.html' %}
{% load static %}
{% load humanize %}

{% block HeaderLinks %}
    <link rel="stylesheet" href="{% static 'css/Moms/PerMomFoodsList-style.css' %}">
{% endblock %}

{% block main %}

    <div class="row text-center">
        <div class="col-2"></div>
        <div class="col-8">
            <a href="{% url 'addFood' %}">
                <div id="addNewFood">
                    <h4>+ اضافه کردن غذای جدید</h4>
                </div>
            </a>
        </div>
        <div class="col-2"></div>
    </div>

    <br/>
    <br/>

    {% for food in foodsList %}
        <div class="row">
            <div class="col-md-12">
                <a class="food-box-link" href="">
                    <div class="food-box">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <img class="food-img" src="{{ food.food_photo.url }}"/>
                            </div>

                            <div class="col-md-8">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>{{ food.food_name }}</h3>
                                    </div>
                                </div>

                                <hr/>

                                <div class="row d-flex align-items-center">

                                    <div class="col-md-3">
                                        <p>قیمت : {{ food.food_price|intcomma }} تومان</p>
                                    </div>

                                    <div class="col-md-3">
                                        <p>تعداد سفارش : {{ food.food_order }}</p>
                                    </div>

                                    <div class="col-md-2">
                                        {% if food.is_active %}
                                            <a href="" class="btn btn-success">فعال</a>
                                        {% else %}
                                            <a href="" class="btn btn-danger">غیرفعال</a>
                                        {% endif %}
                                    </div>

                                    <div class="col-md-2">
                                        <a href="{% url 'UpdateFood' food_id=food.id %}" class="btn btn-primary">ویرایش</a>
                                    </div>

                                    <div class="col-md-2">
                                        <a href="{% url 'RemoveFood' food_id=food.id %}" class="btn btn-danger">حذف</a>
                                    </div>

                                </div>

                                <hr>

                                <div class="row" style="height: 50%">

                                    <div class="col-md-12">
                                        <div class="food-recipe">
                                            <p> دستور پخت : {{ food.food_recipe }}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>

        <br/>
    {% endfor %}

{% endblock %}