{% extends 'base/layout.html' %}

{% block HeaderLinks %}
    <style>
        table tr {
            background-color: #2bbde1;
        }
    </style>
{% endblock %}

{% block main %}

    <br/>
    <br/>

    <table class="table table-bordered text-center">

        <tr class="table-dark">
            <th>روزهای هفته</th>
            <th>غذاها</th>
            <th>حذف</th>
        </tr>

        {% for item in input_list %}

            <tr>
                <td rowspan="{{ item.2|length|add:1 }}">
                    {{ item.1|date:"l" }}
                    <br/>
                    ({{ item.1|date:"Y-m-d" }})
                </td>
            </tr>

            {% for i in item.2 %}
                <tr>
                    <td>
                        <a target="_blank" href="{% url 'FoodDetails' food_id=i.id %}">
                            {{ i }}
                        </a>
                    </td>
                    <td>
                        <a href="#">
                        {# {% url 'RemoveFromSchedule' item_id=item.0 %} #}
                            *Delete*
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>


{% endblock %}
