{% extends 'base/layout.html' %}
{% load static %}
{% load humanize %}

{% block HeaderLinks %}
    <link rel="stylesheet" href="{% static 'css/Order/showCart-style.css' %}">
{% endblock %}

{% block main %}

    {% if order_details %}

        <div class="main-box">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>نام غذا</th>
                        <th>مامان</th>
                        <th>قیمت واحد</th>
                        <th>تعداد</th>
                        <th>قیمت کل</th>
                        <th>وضعیت پرداخت</th>

                    </tr>
                    </thead>

                    {% for order in order_details %}
                        <tbody>
                        <tr>
                            {% if order.is_paid %}
                                <td></td>
                            {% else %}
                                <td>
                                    <a class="remove-icon" href="{% url 'removePerOrder' orderDetailId=order.id %}">
                                        ❌
                                    </a>
                                </td>
                            {% endif %}
                            <td>{{ order.food.food_name }}</td>
                            <td>مامان {{ order.food.mom.user.first_name }}</td>
                            <td>{{ order.food.food_price|intcomma }}</td>
                            <td>{{ order.count }}</td>
                            <td>{% widthratio order.food.food_price 1 order.count %}</td>

                            {% if order.is_paid %}
                                <td>
                                    <p class="btn btn-success">پرداخت شده</p>
                                </td>
                            {% else %}
                                <td>
                                    <p class="btn btn-danger">پرداخت نشده</p>
                                </td>
                            {% endif %}
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>

        <br/>

        <div class="main-box text-center">
            <h2>اطلاعات خریدار</h2>
            <br>

            <p>نام : {{ request.user.first_name }}</p>

            <p>نام خانوادگی : {{ request.user.last_name }}</p>

            {% if request.user.phone_number == None %}
                <p class="text-danger">تلفن همراه : {{ request.user.phone_number }}</p>
            {% else %}
                <p>تلفن همراه : {{ request.user.phone_number }}</p>
            {% endif %}

            {% if request.user.address == '' %}
                <p class="text-danger">آدرس : {{ request.user.address }}</p>
            {% else %}
                <p>آدرس : {{ request.user.address }}</p>
            {% endif %}

            <p class="text-danger">توجه : درستی اطلاعات وارد شده بر عهده کاربر می باشد !</p>

            <a href="{% url 'UpdateUserProfile' %}">
                <p class="btn btn-primary">ویرایش پروفایل کاربر</p>
            </a>

        </div>

        <br>

        <div class="text-center">
            <p class="text-center btn btn-success">مجموع سبد خرید شما : {{ sumCart|intcomma }} تومان</p>
            {% if sumCart != 0 %}
                <a href="{% url 'zarinPal' %}">
                    <P class="text-center btn btn-primary">پرداخت</P>
                </a>
            {% endif %}
        </div>

    {% else %}

        <h1 class="text-center "> سبد خرید شما خالی است </h1>

    {% endif %}

{% endblock %}