{% extends 'base/layout.html' %}
{% load static %}
{% load humanize %}

{% block HeaderLinks %}
    <link rel="stylesheet" href="{% static 'css/Order/showCart-style.css' %}">
{% endblock %}

{% block main %}

    {% if is_blank %}

        {% if no_paid_order_details %}
            <div class="main-box text-center">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>نام غذا</th>
                            <th>مامان</th>
                            <th>قیمت واحد</th>
                            <th>تعداد</th>
                            <th>قیمت کل</th>
                            <th>تاریخ</th>
                            <th>وضعیت پرداخت</th>

                        </tr>
                        </thead>

                        {% for order in no_paid_order_details %}
                            <tbody>
                            <tr>
                                {% if order.is_paid %}
                                    <td></td>
                                {% else %}
                                    <td>
                                        <a class="remove-icon" href="{% url 'removePerOrder' orderDetailId=order.id %}">
                                            ❌
                                        </a>
                                    </td>
                                {% endif %}
                                <td>
                                    <a href="{% url 'FoodDetails' food_id=order.food.id %}">{{ order.food.food_name }}</a>
                                </td>
                                <td>مامان {{ order.food.mom.user.first_name }}</td>
                                <td>{{ order.food.food_price|intcomma }}</td>
                                <td>
                                    {{ order.count }}
{#                                    <input class="form-control" type="number" value="{{ order.count }}" min="0" id="">#}
                                </td>
                                <td>{% widthratio order.food.food_price 1 order.count %}</td>
                                {% if order.date %}
                                    <td>{{ order.date }}</td>
                                {% else %}
                                    <td class="text-danger">تنظیم نشده</td>
                                {% endif %}
                                <td>
                                    <p class="btn btn-danger">پرداخت نشده</p>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                <p class="btn btn-outline-success">مجموع سبد خرید شما : {{ sumCart|intcomma }} تومان</p>

            </div>
        {% endif %}

        <br/>

        {% if paid_order_details %}
            <div class="main-box">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>نام غذا</th>
                            <th>مامان</th>
                            <th>قیمت واحد</th>
                            <th>تعداد</th>
                            <th>قیمت کل</th>
                            <th>تاریخ</th>
                            <th>وضعیت پرداخت</th>

                        </tr>
                        </thead>

                        {% for order in paid_order_details %}
                            <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="{% url 'FoodDetails' food_id=order.food.id %}">{{ order.food.food_name }}</a>
                                </td>
                                <td>مامان {{ order.food.mom.user.first_name }}</td>
                                <td>{{ order.food.food_price|intcomma }}</td>
                                <td>{{ order.count }}</td>
                                <td>{% widthratio order.food.food_price 1 order.count %}</td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <p class="btn btn-success">پرداخت شده</p>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        <br/>

        {% if no_paid_order_details %}
            <div class="text-center">
                <a href="{% url 'order-info' %}">
                    <p class="btn btn-primary">مرحله بعد</p>
                </a>
            </div>
        {% endif %}

    {% else %}

        <h1 class="text-center "> سبد خرید شما خالی است </h1>

    {% endif %}

{% endblock %}