{% extends 'base/layout.html' %}
{% load static %}

{% block HeaderLinks %}
    <link rel="stylesheet" href="{% static 'css/Moms/MomsProfile-style.css' %}">
{% endblock %}

{% block main %}

    <div class="row mom-profile-box text-center">
        <div class="col-12">

            {% if mom.profile_photo %}
                <img id="mom-image"  src="{{ mom.profile_photo.url }}">
            {% else %}
                <img id="mom-image"  src="{% static 'image/icons/default_mom_profile.png' %}">
            {% endif %}

            <br/>
            <br/>

            <p>مامان {{ mom.user.first_name }}</p>

            <p>امتیاز مامان</p>

            <p>تعداد فروش</p>

            <p>تعداد غذای فعال</p>

        </div>

    </div>

    <br/>

    <div class="row">
        {% for food in foods %}

            <div class="col-4 food-box text-center">
                <a href="{% url 'FoodDetails' food_id=food.id %}">
                    <div class="inner-box">
                        <div class="row">
                            <div class="col-12">
                                <img class="food-img" src="{{ food.food_photo.url }}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <p>{{ food.food_name }}</p>
                            </div>
                            <div class="col-6">
                                <p>{{ food.food_price }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <a href="{% url 'MomProfile' mom_id=food.mom.user_id %}">
                                    <img style="display: inline;" class="mom-profile" src="{% url 'getMomImage' mom_id=food.mom_id %}"/>
                                    <p style="display: inline">مامان {{ food.mom.user.first_name }}</p>
                                </a>
                            </div>
                            <div class="col-6">
                                <p>امتیاز</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>

{% endblock %}