{% extends 'base/layout.html' %}
{% load static %}

{% block HeaderLinks %}
    <link rel="stylesheet" href="{% static 'css/Moms/MomsListView-Style.css' %}">
{% endblock %}

{% block main %}

    <h1 id="mom-list-header" class="col s12 t-b-f t-9 red-text text-lighten-1 shadow-grey-text center-align">مامان خودتون رو انتخاب
        کنید</h1>

    {% for mom in moms %}

        <div class="row moms-box text-center">

            <div class="col-2">
                <a href="{% url 'MomProfile' mom_id=mom.user.id %}">
                    <div class="mom-box">
                        {% if mom.profile_photo %}
                            <img style="display: inline" class="mom-profile" src="{{ mom.profile_photo.url }}"/>
                        {% else %}
                            <img style="display: inline" class="mom-profile" src="{% static 'image/icons/default_mom_profile.png' %}"/>
                        {% endif %}
                        <p style="display: inline">مامان {{ mom.user.first_name }}</p>
                    </div>
                </a>
            </div>

            <div class="col-2">
                <div class="mom-box">
                    <p>امتیاز</p>
                </div>
            </div>

            <div class="col-2">
                <div class="mom-box">
                    <p>تعداد فروش غذا</p>
                </div>
            </div>

            <div class="col-2">
                <div class="mom-box">
                    <p>تنوع غذا</p>
                </div>
            </div>

            <div class="col-2">
                <div class="mom-box">
                    <p>{{ mom.city }}</p>
                </div>
            </div>

            <div class="col-2">
                <div class="mom-box">
                    <p>ارزان ترین</p>
                </div>
            </div>

        </div>

        <br>

    {% endfor %}

    <div class="container2">
        <div class="pagination text-center">
            <span class="step-links">

                {% if page_obj.has_previous %}

                    <a href="?page=1"><img class="pagination-icon" src="{% static 'image/icons/left.png' %}" /></a>

                    <a href="?page={{ page_obj.previous_page_number }}"><img class="pagination-icon" src="{% static 'image/icons/back.png' %}" /></a>

                {% endif %}

                <span class="current">
                    صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}

                    <a href="?page={{ page_obj.next_page_number }}"><img class="pagination-icon" src="{% static 'image/icons/next.png' %}"></a>

                    <a href="?page={{ page_obj.paginator.num_pages }}"><img class="pagination-icon" src="{% static 'image/icons/right.png' %}"></a>

                {% endif %}

            </span>
        </div>
    </div>

{% endblock %}