{% extends 'base/layout.html' %}

{% block HeaderLinks %}
{% endblock %}

{% block main %}

    <div style="text-align: center">
        <h1>ورود</h1>

        <br>

        <div class="row">
            <div class="col-4"></div>

            <div class="col-4">
                <form action="{% url 'login' %}" method="post" id="edit-form">
                    {% csrf_token %}

                    {{ login_form.email }}
                    {{ login_form.email.errors }}

                    <br/>
                    <br/>

                    {{ login_form.password }}
                    {{ login_form.password.errors }}

                    <br/>
                    <br/>

                    <button class="btn btn-primary" id="register-butt" type="submit">ورود</button>
                </form>
            </div>

            <div class="col-4"></div>
        </div>

    </div>


{% endblock %}
